body{
    padding:0;
    margin:0;
}
nav{
    display: flex;
    padding:5vh 10%;
    width:80%;
    justify-content: space-between;
    align-items: center;
    background-color: #212D59;
    color:white;
}
.nav_left_inner{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.nav_right a{
    color:white;
    font-weight: bold;
    padding:15px 20px;
    border-radius: 50px;
    border:2px solid white;
    margin:0 10px;
}
main{
    display: flex;
    justify-content: space-between;
 height: 60vh;
 width:100%;
 padding-top:10vh;
}
main img{
width:65vh;
object-fit: cover;
}
.main_left{
    
    margin:10vh 0 10vh 25vh;
    padding-right:4rem;
    
    width:30%;
}
.main_left h1{
    font-size: 40px;
}
.main_left p{
    font-size: 20px;
    line-height: 1.3;
    text-align: justify;
}
.main_left button{
    padding:15px 20px;
    border-radius: 50px;
}
.main_right{
    background: url("https://assets.zety.com/blobcontent/lp-exps/zty/ZTY3221/changeCV-image.png");
    background-size: cover;
    width:40%;
    margin:5vh 10vh 0;
    height:80%;
}
a{
    text-decoration: none;
    color:black;
}
form{
    width:100%;
}
.input_width{
    width:100%;
    height:40px;
    margin-bottom: 15px;
}
.submit_btn{
    padding:15px 20px;
    border-radius: 50px;
}
.signup_main_left{
    margin-top: 0;
}
.image_template{
    display: flex;
    width:72%;
    padding:2% 14%;
    justify-content: space-between;
    margin-top: 20px;
}
.template{
    width:24%;
    
    /* overflow: hidden; */
}
.template img{
    width:100%;
    box-shadow: 0 0 10px 0 #212D59;
}
.template img:hover{
transform: scale(1.1);
transition: all ease 15ms;
}
.resume_heading{
    text-align: center;
}
.started{
    width: 35%;
    padding:15px 20px;
    margin: 5px;
    border-radius: 50px;
    font-weight: bold;
}
.started:hover{
    background-color: #212D59;
    color:white;
    border: 2px solid white;
}
.started:hover a{
    color: white;
}
footer{
    width: 100%;
}
.social_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    width:5%;
    height: 60px;
    border-radius: 50%;
    /* border: 2px solid black; */
    margin: 5px;
    object-fit: cover;
}
.social_inner:hover{
    background-color: #212D59;
}
.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:10px 0;
    align-items: center;
    width:100%;
    height:50px;
 }
 .social-icons img{
    width:40px;
    height:40px;
    cursor: pointer;
 }
.lower{
    display: flex;
        justify-content: center;
        width:100%;
        height:40px;
        color:black;
        font-size: 1em;
        text-align: center;
}
/* media query for phone  */
@media only screen and (240px<=width<=767px){
    nav{
       
        flex-direction: column;
        /* position: fixed; */
        z-index: 5;
    }
    .nav_left{
        margin-bottom: 25px;
    }
    main{
        flex-direction: column-reverse;
        width:100%;
        height:100%;
        padding: 0;
    }
    /* main img{
        width:100%;
    } */
    .main_left{
        width:92%;
        padding: 4%;
        margin:0;
    }
    .main_right{
        /* margin-top: 20%; */
        height:250px;
        object-fit: cover;
        width:100%;
        margin:0;
    }
    .image_template{
        flex-direction: column;
    }
    .template{
        width:100%;
        margin-bottom: 15px;
    }
    .social_inner{
        width:16%;
    }
    .social_inner img{
        width:75%;
    }
}
@media only screen and (768px<=width<=1024px){
    .main_left{
        margin-left: 10vh;
        padding: 0;
        width:50%;
    }
    .main_right{
        margin-left: 0;
        margin-right: 0;
        width:50%;
        transform: scale(0.7);
    }
    .social_inner{
        width:8%;
    }
}